.zhique-md-dialog {
  color: #666;
  position: absolute;
  z-index: 999999;
  display: none;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: #fff;
  font-size: 14px;
}
.zhique-md-dialog-btn,
.zhique-md-dialog input[type=submit] {
  color: #666;
  min-width: 75px;
  height: 35px;
  line-height: 34px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  transition: background 300ms ease-out;
}
.zhique-md-dialog-btn:not(:last-child),
.zhique-md-dialog input[type=submit]:not(:last-child) {
  margin-right: 8px;
}
.zhique-md-dialog-btn:hover,
.zhique-md-dialog input[type=submit]:hover {
  background: #eee;
}
.zhique-md-dialog-header {
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
  transition: background 300ms ease-out;
}
.zhique-md-dialog-header:hover {
  background: #f6f6f6;
}
.zhique-md-dialog-close {
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 15px;
  transition: color 300ms ease-out;
}
.zhique-md-dialog-content {
  position: relative;
  padding: 20px;
  line-height: 1.4;
}
.zhique-md-dialog-form {
  color: #666;
}
.zhique-md-dialog-form .form-group {
  width: 100%;
}
.zhique-md-dialog-form div:not(:last-child) {
  margin-bottom: 15px;
}
.zhique-md-dialog-form label {
  display: inline-block;
  width: 75px;
  text-align: right;
  padding: 7px 5px 7px 0;
  margin: 0 0 2px;
  font-weight: normal;
}
.zhique-md-dialog-form input[type=text],
.zhique-md-dialog-form input[type=number] {
  width: 70%;
  display: inline-block;
  color: #999;
  padding: 8px;
  border: 1px solid #ddd;
}
.zhique-md-dialog-form input[type=number] {
  padding: 6px 8px;
}
.zhique-md-dialog-form .align-type-list {
  display: inline-block;
}
.zhique-md-dialog-form .align-type-list a {
  color: #999;
  padding: 7px 10px 0 0;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}
.zhique-md-dialog-form .align-type-list label {
  display: inline-block;
  width: auto;
  text-align: left;
  padding: 0 0 0 5px;
  cursor: pointer;
}
.zhique-md-dialog-file-input {
  width: 75px;
  height: 32px;
  margin-left: 8px;
  position: relative;
  display: inline-block;
}
.zhique-md-dialog-file-input input[type=file] {
  width: 75px;
  height: 32px;
  opacity: 0;
  cursor: pointer;
  background: #000;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}
.zhique-md-dialog-file-input:hover input[type=submit] {
  background: #eee;
}
.zhique-md-dialog-footer {
  padding: 11px 20px;
  text-align: right;
}

@font-face {
  font-family: "zhique-icon";
  src: url(3a59c682e7c439a2dab01294f09bcb02.eot);
  /* IE9 */
  src: url(3a59c682e7c439a2dab01294f09bcb02.eot#iefix) format('embedded-opentype'),  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAABBoAAsAAAAAInwAABAZAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCHGgqwIKYwATYCJAOBBAtEAAQgBYURB4MPG38cI5JyWkSyv0iwjaU/9CGGhcCh2QDxCj4HFUjH2NnykRB2ybVSZDih/Uo8QGvf3uzO7tdTsYZYdKtEqlimFGiRkE6gMTzO2b+XhA4SpJS0RSYU0UmRQvECRcrG/Q6StszoDCYK/ddx7N9S5u2dV7CJ0zIzdGpwS9OJwc6EE/sTDDq3AB/Z3CNtSCOqul9R1fmP03Z3zCFUhGlZU4OfPpe+NIHf/N7PD2NJPE6jPBgFgm64wk+ucob/myvtpgAo761rWRhUorpCZSY5mGQW/nE2x5QjBFdivTniAoKrBZT4PDtRo3SNrw97t/aYFSCy5jxiAgsrvzw9AWW9poXj4ku3FEVUCIj1evGzB4qSnWiYHxT1uWLYKPyQMsXko3Ib39M3H/5ZDEUSWYr2e+3pyWP7p8W+Vf1Aw22hkfhwEkbDkWIakaSs9A5RmpPpVCyrEkZ/JAb1k+8zOS12K93jjnAQIESMHBVmUBjCEew1EvNEn8nmT1im2Dmh9YNBNnGYGZ0/bp85lEnO0j/mFdTo1qNWSaMmzeo1KGvRqk2vdn069OvUpaIqyqTq5IQc8ari7uIh9F85nq8i4VRfReA0FpgosYoCZ84qajjzV9HNWQB6QEOAWtAYoASaATSC5gBNoBVAM+gEUA86AzSALgBl0BWgBXQDaAXdAdpAD4Be0BOgHfQC6AO9ATpAH4B+0BegE/QD6AL9ASqgxCqqnBsgptQGyEAdgBSUWEUdFxr3xMsMiCEO8Z7CT0npt0TtQzHVEBPmGpRyMbunxfTeFqOIWpYqySXMxcCENPaYaw8lDNRSmhqpbvQO9/ZWOupjle5If39jdatU7am+XKlWm1qL9fVN0Zr1hUqpVB/nd3ZWcTAhuDXoru+cvuBp7WoQi3ylUjGO02MbOS6zuxuGBjMd8rMsRYLmh7SbvlDu7BLuEwptBGERZx24l3i/8H6KxwOh7iCr7mVJ+93Mfk7DcRM8nkSnm25n5+EtfZZzpn5zryo/AfrMJbibKz7Jhm+7IEMIiEN+3zRt5yx9TK+5v5FlKcadr9UeuT/Fw4ksHtrtJotOsiEtxyRulsIHWM2gm/B4tBxXZReJNqbWPWHJCbjSTsfskpLNB+PiKMqt9VSKLQaGra211pNRvW7a4im8yc11O3lCjtOEl9xu2sPp3OTKWBbnOK2jJ/aamz6R4gs7c0Imh5gABMABwVL0vsZWT5bGcVQqLGlxUwfZbJJtADza0Z+CZvdxnRnHo1iK1dRWdl4KE5+IOCW7Em8TCkOad4a0hITYtoUwrDM0+HfogrxMnbGB+5wAYzrMLujlj227IwvY52Q6lux3/S/Awq4BHyqJM/cmeOFmSARhqS2xbM3aAaLjNAjToSEg7mdkUSyqnOg7wU+lFrQPpOKnvxiPnpVvKmFzAsB04PhlNhwwToI4NbjcxEQTrZ+PFWs1dlOnRUjbGJKyLg/s1YibO1bovJ8JSlg6TS4chz0ejjOzrDsDaAhyDizhYu4A18dkctUEwKOxav0cYmgX+VpJYKNsQsm2lr9jKwwc5Z9Vvnff0zpMIo3dCgBjc1PSNgeEJvshVIdpNOefQQyNN5TEcWtilKGqJ8tqNW1ocECYEzKYeIqj8dFHuuaQhx/PbNObawiWQf4ZexLd2R1kx/30U4Pj2gcaIeQ0aqMabi5Tu4kPZ7bNyO3OCXH4BzrYHOKmKaswxyY2OhbYYf0gi7CyG394bCdRfhMSFpXOLFLvIyaeplC17doNsDTPYRdpzIC22cR5NAeHSKhoc2wOsdaEU1ZfyJ+iym4nszXxPKuQVtiEtAXOa9F8rt1KUgyhdThEuVoUsbSGnnI25HjUa20NuaSIqg4oGvnmDoBd/n4DLZ3Qy+Sa5Q+19MwqOANE5//LpNCAZWfum74wDzCDWouNsZrtJkf9QAqHBMIDfQmAa1NGT1AwCDOf+O2SlWFi9LK5/Z683ihYhnZbtBXfas5MdTrGOU9OH5sNyWPSg5+hPor+V3tCQHF0xOtdvMV5/zZl7qjKMzhvy5yeluFmABiCALg15eUYFghNc4jYzi5S6Gi1E2XVm3Bce9vaNfoGm+CXX1cWh7p78y99OvItLKojXF530+r8VfPiNOAE5ldDiJvJWaRNSDjE1dC08A6wtZN9thXSXZdsQsv59XKsoMg7CWzEHD263HFUENnPmeVzhm44T0JrcXjox04q7KJ+zuTxTL1lcVMPhs22wluYbxM/TuJKYfnK34NNXOgQ1RQKbkvkjaG96js98Bsh+5qtNxfxW6PvFdQQDyT3Ahx87k5WiUPiilvS6Ft8+mrMzQfNK8cZYvssqjjEoVxuN4eb2c9mNMBMaonHT/yQMpvwVPQNwByM68XN3HjROyGe0F3e5SYsHhoFmia3iohj4096PWIWfsVkEV6t7j/94vq68R9nl9T6I8cuIG9rS8rno378bt+gADS+OkaVlf/HoT23vw0x7A1HoFdhDS648uvF7Y2SecLRZt+FqybT83/7JD+BO2WaunPBklhVuCqQJfZOatOlxXA2VSHI+6qDWd4gmc+cQHNuht68+FU8UCjASGyG7/2qKvR/8qKkoshR843xsYJwtKAfe/MG61dN2urc1Lz9xMAkJLAws1gNZ0M1Ns1Hpgq6dGRcwTLj5/FgxvumOUh83Ymcdb7ftWfTLixjxfM26X0krWxFnma6PY8sNcr2SAbOR4r2/yDXNWzd10uNKeLPEP39Jk8J51QXjFkJUmeP3PG9lbxwFpq+MPdA3xKJraRMXBHkIy4sx/pev+7DwMIe6yv/U/1fcGFpzsyr+5WdqQpTaYnRq9Sarup3/p35Wdi0kF2h6RN2yi+GX1SDrE/emX0+/Lx8m2hmYlmB+Acgq/NbJ1ENFyLCTDWNV3nVQsDL/0+QKi29CI00NBk3M5+fmfhKWVIwpRb98COwcMqj+yn8CcETinIWBL8jmO0dNTVhKb8rOtPNr0B1W0rJ/C7tIunq/SvX46rFiwPfKCBTJ7pKYbUeljBBNdIEaU0QTdbE1pAJHI0GSF3SmpiaRW/DyYxw4E1GQrekdEsDUKAJsnMOYkiumghLqvW/VXJBNUGgilIjCYhnH8V0Ms6bwNSrnmBdxc7FeeLEdQGPZjz2fzrwZOCp/2dI4959jUj0i0K+KkAZED1YUeEnEI+2MeoagMkWM35epXStE2yV3BmiZm5LWiSPR9kn6d169zooui3uSK8DSD5GawTGqDWCWP/pq1aq/dcmCDZHbREkJB+dVB4wR5mh37AJW5zg0eQEwZaozYKEtWr/VSv9p8cK1kQZBU4RBcgn589/gjJWREI+ERizE/5FpIs1wHHlhZ4n5+mJA7idYch/H+IXHMrz3l3Gk/Id7e9FeEdsj/vkz3l/8T734JZ0QeAqJAfyBPKmF/+KCl0HBY+3orKpvAMIRxX3ebpZfOLllG3o4CC6jbECba3j8+CPfFT7N08v1fOCsIh9xkrl1RiQOdT6YaJi49DVlUR403B8bS7DWCH8lpnLYU6sXXuoDM6bB7c2ZQQhXRl13MjPAQE/jxAcpDMA0uqmFgsUWdIFLgkayv+p0cYvC/cZferCFkppqJdODHR1yeqmFS+YX1TUQlHXritfrkn0CxHidzyQH++7fTyk6Vn0TyjcFPE2Rh0Y8zzCG2/s+5d83hMRp9gh8PER7MCakjs3bqwsdKXKHskKKzdu7ExuwgQ7fHx2CBRxkd0bN8pS/8iwYBP77ki3agy/tW0abPpoWM6bNed37VcN9paqapO4hwlBJvJC4R/oz3DL9JJlxpE48x7bsW/Jr/gLnnvT9LDvx0564fr2fSMlzxWBZcwiqs53tD1L5xO5x25hF7E72SfXd16/9vz6luuPr0lkkYKEcwjavEOeZDcE5HxdWVhvOFCHPr6L1m2tN6TKjJWFhvrcgkO5+QV5h/LzDPUn0RkW5BYOuQbDSxocdegP/Whdg8HWOG51Zjc8LOMkGGQg50tvbE5UixdaifIXKR/zs5RVmZZSdAAZzJY9iyUPon71ewOGRWBYKRkpRVM5UlQqI8W6OzEjEbMGw+I6a+fp38GwKMz4iyGJiimLygPR6BrppGAgbxoeCcqJCrz9lQJfPL2bdtQHY1rqlPuro2yefp1lj82M5Xkd8+YlrfpwPuipyc82wfBCHvn1DoSnV6rTfr3HTePDR65KpQCpwCR1Vcy8BKvg6dHARy5lWNsJsSxCFqZsF4jqeaauEYESpJn2D+h52Tw9rg+Y8DvmRF8MoU6gn76rOL06Us7bDzAZGrOLNEWu/+HpLamhaWNWp9t8tskg1eqSDE3RTelxdSll85SVyvTy7WAO6hwaAn/Ki9On7wJ61PliyIm60KFgNnN0b0qZXqmcJ1N2uXqSQjwnT39YH2kiY3ahMmw/8JIHga7tW8cqY3FYsWJ5JYwjRisH/IBfbhU0vgurCF7SjPaAoaMOH9zHcXRoxRO+Ig+8+vkVSG45H2SZ9r//g2ZCaDlYoVGoKl3UdmGY2FvFePOJ/Ff+1eOz0meHxM2MU6dM5J+u+ObYb+mx6y8vhkwtzwqbpXhJFWiTXsWJ9GrGm+dT2pehD83Kqx1bJo9Rp0wJXHXn3mnyThp+cfQt7H2qbcLujK9qeiZ0OIN1o3QGAxSjfehWtCBd2I9eMp5PGVFg+7/TncifXbsjRBMBAAB9gqZHJgbhVCtTDTqxiU+QF7AKhYhLN3KVzESFOn0duR75HbrzshUWMihc2IywrjuRkZBFD2PhOeTBy6yC+6ti9E1/pDFCcG1P/0PzIchoG/xP867AHx/+aqteO//Fit1O4PHZy7tTr9EohvPC/TLDVIA9wz/E08QBAKOMxlYxkaz+asC5HllIfClLCJDjcbqf5+4Cv/3WCWtjQQiJH2kRY4RrUYRYBpuczHhNzmF4k0u1uETXIxOCfJoC4wwAEnxHWkjkR4vwN0hQ1eQ/gmHyv8ZrdqgwvMkDWpwmHI2TEBO+lo8EVtGY8YuJjpPfJNbF1xAnBZV88Cu0hayM0xcBd5Ac0d7sTJYqwi6RIOEGyI/trqo3XrgzF57PDERseuF7OK2Dan+6NaVGdQG1426wqJAAS0HDGHsRG0cOS7xSLXpPWMSdKKAyBV6BdrE3xBJzNmJyB0nkMcbRMXbUtusxlyxw3Uz7mDB71NqlTPIMTylYx7jotQREgpnRq7u6B46qBYfA3qktUpivK9bt6rpHSwdu1izo0JKQyIqq6Yb5S/RhLdtxPQ0aNWnWolWbdh06denWo1effgMGY+adLRo2XsoV/QwuiiNUPhJtWoq9ffkrzljQRTs8u+kLCU+5tz1kcVJYURG8ziuki8nSrE0usMzG1CDpHBdNU093SGVJY9dS4BResMA/QeWIMxZ9IcpOgLRW/BgVnqPOxM62mFE7JkxTTA8rJbE0EDQUsy4NUcc92lTJ1iXoMiGuXdRHvoKhmHbcYGacoOTpkhqedjtRnh4zNStZJT5Ag3Bpw2zUPUxuMAAA') format('woff2'), url(data:font/woff;base64,d09GRgABAAAAABOsAAsAAAAAInwAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADMAAABCsP6z7U9TLzIAAAE8AAAARAAAAFY8fksIY21hcAAAAYAAAAFNAAADmngghGNnbHlmAAAC0AAADbkAABggvhrQGmhlYWQAABCMAAAALwAAADYakc1AaGhlYQAAELwAAAAgAAAAJAfgA6FobXR4AAAQ3AAAAA8AAACEhAAAAGxvY2EAABDsAAAARAAAAERoBm4WbWF4cAAAETAAAAAdAAAAIAE1AJJuYW1lAAARUAAAAVQAAAKRTHsss3Bvc3QAABKkAAABBwAAAY+s+hY1eJxjYGRgYOBikGPQYWB0cfMJYeBgYGGAAJAMY05meiJQDMoDyrGAaQ4gZoOIAgCKIwNPAHicY2BkYWCcwMDKwMHUyXSGgYGhH0IzvmYwYuRgYGBiYGVmwAoC0lxTGByecbwUY27438AQw9zA0AAUZgTJAQDfqwwEeJzdk0lLA0EUhGvMYoxx17hrEBEPXnMXf1kgA8kt/jxhIIEcpiaQnOK+jdUpRW+5249v6O550K9fVQMoASiIK1EEFqqINENU1G402y+gOtsv4k7rMzQ0W0graTNN0pwxu+wx4YBDTphnrSzO8lE9z4E/OZ1ZTl85Y06V0/7JmTMinfcb57O4UFziWnGjUGnKqmARKzjCMVaxhE1sYRvr2FDlO6hjFyfYwyn2VfsBDrGMmu5Q0s3WUNYh5bl1/P9RC5/o9nvVCOoZ9Rdp0wRHpIlB+J8bdR+MjXQAO0aKgF0jbcCekUpgYqQX2DdSDhwYaQgOjdQEx0a6ghMjhcGpCS7lvZHq4IOR/uCjkRPAJyNPgM9G7gBfjHwCvho5BnwzoSd8N3IR+GHkJ/DTyFlgbkJHs5YJLytrm/DistiEl5flRl7EqG5Q/gKc96ofAAAAeJytWA1sW9d1vufe+94TKYr/5CNlS/yT+CySosRH8cf6ISXZsi05dv0TK7HTxjacGF6bLelkb8oaY7LbJmq3Ofb65xZ2IxiNs1losDVuEWSoo6RA4AIZ1nVyUcAZpihb02HYlrVoM6Dm0859pCg5srJ0GMl377n3nvt4vnPPPefcSxoIWfo++wIbJmmyjWwne8hecog8TiYJgTRoachpildW7OAAn+xW/fhtBdUfAn8f6GUoQSEvvu4BYHZANsWchL8CDiGnHdpjraDne+JRWV2hSpBDLmRHFlc2F8vho5VA93vlaJw9NXG+XYvYmsJa+/mTjdSZ0Pq7+zZ0OtwNjYyCJGkuvWWwszcQ9R/3jA8mhu22ze3JRzdF3PD8Ja/n0vPgM77XBxE9GtUjvcvEuNYNQ5nuIQrd8dMjIyMP1PrpZ0MDgUCIut00FAgMhJjNa9w5MjacS3tbLFZJAq42xvx6ttx/DIjXZjzb9Ug2klTk6MbIp8bGbqXSB1X1YDo1/+1gJKJHIsFqNW3t78gMAf5jR7/V+FkxU/x5dYAQQlHnN9gPUOcJ8jHUM6rB61eryoxreh41rKDiTEXLSswOWitkcTANnngXxLV4vmBW+PU7cLaD+Qv5smBBpVLyqiGlk88815p1uftkeHjvrjwdSLYqDc0M/vhwR/H6VPnyAeSRjDRwSeGybOVUavAmY61NHtoY8vr/6OqBbQ8NOssjh0Fhw5Lx6ugXe79+PVKKbd0OVLKOce7c0hLo6X3oLMuWmnoHkONVwzjDlEaHU9VVp2Rp8HMKmR5FTQWDX/x+g0st2umR4UC4in2OzbFB0ki2VrHLflXPIzgJUeZXzMIEjHSsakt5v5ovRHJVW+nOF7K+rC/my8qK6oecs9PVmf1E4Xiy/1Pw1Z37LQGpcuNGRcLyD14vDbzQlzu7fXK0aEuGe760a4Pb+OHM669z6+65uctqaksIHgZ7U+o4LxdbozsC3q27qjOxhMc+ro5sHBqVvzLmaG5o3Nis94WK4T02+ES4+PGdAVttLd9nM/RXpIUMIR5cGw0XMS4rut/cNbID/ChtSewJFk0iXEXWBKIy5DWxnfwhajd3FGL2yuyBhmjXVto3fugEyMNebzHCTk2eefnOjq4T54C1zjtDAfe2Rz/2MLRn1aiNee3ReMZvkahkkxXe0KhY4JO0KTzmYfLeRpnCnjFtWxv/7PSXO0e28GePD/YZbzpLQY8F7uvbmGmW+/LAeNBikdzNxaDLrTrbNox+ksAqTP8bog8X90NFIRb8n1scWBL/ZxNqby85QI6S3yVPks8TIkVw9V09uOat4HMJt5BzRVyoI2x7ZfRNOJQxyZhJiw3iikXjPXl0TH6fyw4QE3OW215ZQ9uJ1DnQqa1HRwSdjQiaHaiMjx6hqpclvKqqqZUEZNroNaSNr3lU1YMPDN8S1K22DIwLYsqr0iNG008ELYobU1Mwi52qd6o2vIYyEqIEwZ2kR3dQ7ARQPZVZwUETldm2bmzHVbokSpO8UyO72yhBuZD51o6jcD++hYhJS8SjHpgVA5o6dVdV6yRV2yWEvcUKJETKuNI+3HgxoXVUZbYVWlC5SbFBfV509q0gfci4im24DaX0W+kSsOefanf4fI720n4Iq1PpEoV7jIQCOAIP3e4q4WgX/PlTVxl4naMOH91fcqth7FtnKISdNdmn6E+IS1hpAZesDBqum66C36uALK1axVl3sGlxsak5Ygdisy0RG71ozJoqP4DKmsJ+HI0044g90rREmg7cpaOlW2ycpUgv2YI6ikVloQ1E7cqKWJaEXAmNMWoHv+qrDbpQR7XBqOyrurKeOAh5TJtKjrsDAbfm+PTehDsYdCdSaefIkRFnOlVt7v20QxMMyMVeu3DhNRYwfoDttkAADgTagvuecMBTWOuu3Yd7ew/vdunBtoDxOccT+7AOuC+8xvlrF9wBSIpmWxAxSKauztMF9LkqiZEu0odIIvlCLq5FZMXnV/xqvQVmT7XNVtHthXwPRh0ZV90PF2FBAVCMMJZYr2r99533BM2colxF31m6zNhlbrXCG6AURXdR+dtqJV7wYr2z8oU6+bXPsAb2GcblX8uc/H/hQFebH4CeOPox7/8Fxz8LEPwy+y1wgLsGAsE0CAgfwEHWk/UuenodiVbTdAGUQdEaVCoX6iRsrpPiv+vxVyVaNQIvR1uGhructhU01GNMVlxezPUwVlFSD4tYfvPHnP/4m2bpehaUbgXYVVlqYWywznKjcufvl3mw/K8T75vK/XfOJrmkKagCc1HZK/QNjAReEiYplIaGmay6w568FI2bCSGKwtYRkb14rjJ3zmY7RwfP2YxtT75ULr/0i5fKpeundx6j9NjOatldBih3myV8A1LGfHOzMQ+pZuP0mTOnxQMv1nl3HjMWl5mxrNvcK8xH3BijuskgZsgEFRrXFCFaLIp1FsVlGlpUPBZmGRljuiKj0gqQhzh6h4KuFuIxkeSpisCU1VVmThNuAWufQFK4Tx/KlK4/uWuw8OBjED5nuy8hS6cefMxYQID5XY9KUkKW6U3J2MhQtCabHu1AkV3jtUkXrJZsOI499qyJc2J7tv/RM6eDhQQiheMJSTqZEMgntj8iy9iiP5SMZ2xNCJTpLgTeER03+Y1ZmnVgOx7OWqxCAdU1OoK26ibtpEh2InrMUrsg6sP8tIy7SeQxosR9VYaeGKYIIUxyVE8aUwWhFFk0Mb3Rc+1x0YPpgzeL+U8XvkeDaIoxacbiAQtPPi1LSc5vS/LTSW4Bj2VGYiz1NOe/Whl8usputKxhol9OsdXtpCTn6/zLrzfeWBmtzV9aw1TDPEF/uQrzWjQi8xYNc3tUwYsUXsBCP7mM1LNWWfDMGjyrpa7KdWtNz9k1mqLPrkFzy7Pm3W+u7TJ+vkZXK/51DtfaQfwkgqeTrPBNGMNcXj9G0jxmU+iTcgV1A+RYXDFt3hWRSiDOdF5/oXp868mzmTtzdrfbzgaxzFecf/LVf/3Zgiy/c15WPkffq7zcrutjut5uczoDTiddcNsrU4KdYlmZ3vSt7+D57T8fAYssG7+8JsuX4fkFEBPG9AkxIeBEMa2rZPWgJ9uAOUwM/VkSo8I9pFbw1ODCJ4KHhgLWEtau2tOOTwT77pZ6Hj9G203xMdrmzQ94b96Et+bn75b4R9PGxZmZhembM3Bi2liYxk/dx08xIEGUBzeSMH48ycXRTqr2IXtVvy7swROPmnblF+aDJ77lRr5HitdpjZZk6WRyIt3JO05yvgmdQ7m85dvDp3DDVCvRlZjoSvFNtUbZWJSld0way3c5P7WJp7omEqckeRPnJ3HW4OBJSaa0XK52fXD89zl/x6TfqdqHxcR0kc7X4lYb6SRpUsAdMvTRYhjULwA896DY+crLIkTQHaJch65YihDqDuGvsIagc/WQa/zLvUjqCwi+kPHm3TXCMgHimee9GrYynsx/B1ftI6CSYlFMivrAF5NrdbWtY5rBsr4qhbFU9Kq1MUWusyTRYQjOix8F/WZc+x0xzmM7cIX4ZJxv4qDs5pPYvXUb5dVqegXw5nup4d94lHvxMMr9SPAZTm2TnF9SgLfx9/DZTVk7X65JPU6fp4v1vGvd1VbWzV4MM1cBM1dZTa+XySyuSH6wTv7DSk71l3Xy3vKtZIWwQqrSepbZsEoyeH9FSDq1noDfWBHwgRWx/vSeEt5Th55VMq6m15Nxcq3yTJqpv5WIf/YhOnyV/hRPPE70owNo+54BzG8UholONl/w5HpA3D6ZlhsyDdivmjeA7eikxIUgMuV6uqrWrMXhe/+0Rabv4tu3iqqVwm1ZomxigqF09LZEK4/cZpxKtynD5BG7qdRFn4GwVDmCHSDRGdpgvAR0lkuM7uP00CHK9ynYlmzXZ5lsk2YpKMv9lInYBSaGJ+Aq6vhuCz1R6TYX80dida+C0i9a/Up1ztIddp5x02qqiSYG+GxBRy8tgn5cS0OPuH/SW6lXFrc3IrUzc1FYuvY2h33b45jdv8A5aNTCOhz2zkzm4Ob+s6ce1PVUo03imiSP7Aa+yDhfvHb0SrEbI7XMr0iU99jsqVNnTx0MBDMHsU41WiU5K/Hic4evLX5Qtvbl+zAhoRkR1khmZhwou6pjuPj19n3A3742u8hh94gsaVyyNab0Fcnsjg5moRpw/oLE6ebilaPXFoWAh58rcikrS9bGu0Sz23pwsa5wGZMJUo9vAfoLzBTCmCkQNIQBcWNcD7woWQ51lEVxzYsDSRQ50aSvBFvo4/cbP210upqgdGiSgm4cezvVC9Cbehsep0OZ3/wmM0ThueYRzbr/96izsXKwyUX/8FBj4SFwQjFhTRThHzOD8B8wmFle9zn03feLdRf3z3EzzTav1/pw/5u6wtM5Jqc+DLtqrGobVQafUF4sal6txsR9IuZqWb1Ec2jFWta0n5eNs+W47s7BA6P7k34rpbRh1ALU1h050ld4OBbvcNv875rb8q87HU1RX87v67p/+EEno8oeC4C1v+1oX/nETs3d0PR3pgnaFGdj6+NDSV9ItjWAxTWcCoWagxv3ZlMR1WPap4Uzq621b0Onq01PWXCSRRlNN29o2bw32xV12WvmW8MexzxoQ93msyy2YvtazFPF0GrsERJ+99IVU9C/EuXfXPqLlVNjZeXwiMcw87RI/gdp5CjPAAAAeJxjYGRgYABilt714vH8Nl8ZuFkYQOD2jiOLEPT/vSyMzE5ALgcDE0gUAC/ACwoAeJxjYGRgYG7438AQw8LAwPD/PwsjA1AEBSgCAHIPBIl4nGNhYGBgGWAMACOUAIUAAAAAAAC6ATgBoAIKAj4C/gNcA5AD8gRWBLoE+AU+BZAGEAaKBwYHXAesCBYIhAkSCWIJtAoECmYKgArOCxwLYgvgDBB4nGNgZGBgUGRoY+BiAAEmIOYCs/+D+QwAGcEByAAAAHicdZDNTsJAFIVP+dHYJi40sh43mmgoPxsTElck4BoT9lCmUNJ2ynQggYVv4MLn8Sl8AX0K9x7KaAiRTubmO2fO3LkpgAt8wsHuu+LesQOPasclnEJYLtO/tVwhty1XyY+WT8hPll3c49myh0u8sINTOaO6w5tlBzW8Wy7hHB+Wy/S/LFfI35arqDme5RPytWUXQ+fBsocb59XtajkyciLGaxEFKg1VatzNLFosZX2rB3K6jEd6z9nDodR5pFLR8pt7bl+mUv/2zFfTtjGhCLVKRI/NZRwrkWk1l4HxZ8ZknUYjtL4fqIQjdqEhMYJhnfC3jrFmjRBAIUVYVMPcBjO6CyyZq/+dD6im9GJ20Ecy/7tDKo2ceqsEWvDRPJLtU6VF/nDOHCu+36ZrOKvg1ryRkHp2csnZYrJAVpzN6QT0fb60vZWhgwZXeJD3i7eTH3dgd1t4nG1Oa2/CMBCrIS20hTHY+z32vT8qpEcbkSaQXrTx7xdWTePDTjqdz7JlJ6NkmCL5f9YYYQyBFBkmmCJHgRIzzHGBBS6xxApXuMYNbnGHezzgEU94xgte8YZ3rPGRpE4GbpfHcAhUKe2VoWqrjVlJo/fyeE6lP6JikJ6I3NJnv5d78sUhOKbK0JanTL7TVppMWtU6n2lbk+WJC3y6oiMbStbdb9qYjpTHrZRxPRXbYEyvPJFd/MGKvjSnupMNpSw3hoTRdjcP1vmaPNVG91ye41i+sZXXTcuzAauYHXsOz6mnUK6mNDYNvQi2diJ6ndg4U8979npH3HoXmjbTHE0qSb4Bc95voAA=) format('woff'), url(fc5144f2617c6f71f2956b15a5e939d7.ttf) format('truetype'),  url(e9eaace3060cf087ef6412e45611fab2.svg#zhique-icon) format('svg');
  /* iOS 4.1- */
}
.zhique-icon {
  font-family: "zhique-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.zhique-icon-oauth:before {
  content: "\e635";
}
.zhique-icon-yuque-circle-fill:before {
  content: "\e608";
}
.zhique-icon-alipay-circle-fill:before {
  content: "\e884";
}
.zhique-icon-yuque:before {
  content: "\e880";
}
.zhique-icon-yuque-fill:before {
  content: "\e883";
}
.zhique-icon-newspaper:before {
  content: "\e916";
}
.zhique-icon-quote-left:before {
  content: "\e6ff";
}
.zhique-icon-terminal:before {
  content: "\e6db";
}
.zhique-icon-anchor:before {
  content: "\e7db";
}
.zhique-icon-indent:before {
  content: "\e7f3";
}
.zhique-icon-outdent:before {
  content: "\e7fe";
}
.zhique-icon-menu:before {
  content: "\e7ff";
}
.zhique-icon-time-circle:before {
  content: "\e784";
}
.zhique-icon-eye:before {
  content: "\e78f";
}
.zhique-icon-eye-close:before {
  content: "\e8ff";
}
.zhique-icon-fullscreen:before {
  content: "\e7ec";
}
.zhique-icon-fullscreen-exit:before {
  content: "\e7ed";
}
.zhique-icon-image:before {
  content: "\e7de";
}
.zhique-icon-table:before {
  content: "\e7df";
}
.zhique-icon-link:before {
  content: "\e7e2";
}
.zhique-icon-unorderedlist:before {
  content: "\e7f4";
}
.zhique-icon-orderedlist:before {
  content: "\e7f5";
}
.zhique-icon-align-right:before {
  content: "\e7f6";
}
.zhique-icon-align-center:before {
  content: "\e7f8";
}
.zhique-icon-align-left:before {
  content: "\e7fa";
}
.zhique-icon-code:before {
  content: "\e7fc";
}
.zhique-icon-minus:before {
  content: "\e7fd";
}
.zhique-icon-undo:before {
  content: "\e787";
}
.zhique-icon-redo:before {
  content: "\e788";
}
.zhique-icon-bold:before {
  content: "\e7f7";
}
.zhique-icon-strikethrough:before {
  content: "\e7f9";
}
.zhique-icon-italic:before {
  content: "\e7fb";
}

.zhique-md-editor {
  display: flex;
  overflow: hidden;
  position: relative;
  border: 1px solid #ddd;
  margin: 0 auto;
}
.zhique-md-editor ::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background: rgba(0, 0, 0, 0.1);
}
.zhique-md-editor ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}
.zhique-md-editor .CodeMirror {
  flex: 1;
  height: 100%;
  line-height: 1.6;
  border-right: 1px solid #ddd;
}
.zhique-md-editor .zhique-md-preview {
  overflow: auto;
  line-height: 1.6;
}
.zhique-md-editor .zhique-md-preview .zhique-md-preview-container {
  margin: 15px;
}
.zhique-md-editor .zhique-md-mask {
  position: absolute;
  background: #000;
  opacity: 0.2;
  z-index: 99998;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.zhique-md-editor .zhique-md-mask.show-mask {
  display: block;
}
.zhique-md-editor .zhique-md-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.zhique-md-editor .zhique-md-toolbar .zhique-md-toolbar-container {
  padding: 0 8px;
}
.zhique-md-editor .zhique-md-toolbar .zhique-md-toolbar-container .zhique-md-editor-menu {
  list-style: none;
  margin-bottom: 0;
}
.zhique-md-editor .zhique-md-toolbar .zhique-md-toolbar-container .zhique-md-editor-menu > li {
  margin: 0;
  padding: 5px 1px;
  display: inline-block;
  position: relative;
}
.zhique-md-editor .zhique-md-toolbar .zhique-md-toolbar-container .zhique-md-editor-menu > li > a {
  outline: 0;
  transition: all 300ms ease-out;
  color: #666;
  display: inline-block;
  min-width: 24px;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  border-radius: 2px;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 5px;
}
.zhique-md-editor .zhique-md-toolbar .zhique-md-toolbar-container .zhique-md-editor-menu > li > a:hover {
  border: 1px solid #ddd;
  background: #eee;
  color: #1c71fe;
  text-decoration: none;
}
.zhique-md-editor .zhique-md-toolbar .zhique-md-toolbar-container .zhique-md-editor-menu > li.divider {
  text-indent: -99999px;
  margin: 0 5px;
  height: 65%;
  border-right: 1px solid #ddd;
}
.zhique-md-editor.zhique-md-editor-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  border: none;
  margin: 0;
  background: #fff;
}

