
.zhique-markdown-editor-wrapper {
  width: 100%;
}

.zhique-markdown-editor-toolbar {
  height: 100%;
  line-height: 50px;
}

.zhique-markdown-editor {
  padding-left: 30px;
  padding-right: 10px;
}

.zhique-markdown-preview {
  padding-left: 10px;
  padding-right: 30px;
  overflow: auto;
}

.zhique-markdown-preview .FreeScrollbar-vertical-track {
  background-color: transparent !important;
  border-left: none !important;
}
.zhique-markdown-preview .FreeScrollbar-vertical-track  .FreeScrollbar-vertical-handler {
  width: 80% !important;
  opacity: 0.5 !important;
}

.zhique-markdown-preview .FreeScrollbar-horizontal-track {
  background-color: transparent !important;
  border-top: none !important;
}

.zhique-markdown-preview .FreeScrollbar-horizontal-track  .FreeScrollbar-horizontal-handler {
  height: 80% !important;
  opacity: 0.5 !important;
}